@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f0f0f0;
}

h1, h2, h3, h5 {
    color: #997619;
    font-style: italic;
    font-weight: 600;
}


p {
    font-size: 18px;
    font-family: 'Poppins', Tahoma, sans-serif;
    line-height: 1.2;
    color:#808000;
    margin-bottom: 20px;
}

/* Video responsivo */
#video-section iframe {
    width: 100%;   /* El video ocupará todo el ancho de la pantalla */
    max-width: 640px;  /* Pero no más de 640px en pantallas grandes */
    height: auto;  /* Ajusta la altura automáticamente para mantener la relación de aspecto */
    display: block;
    margin: 0 auto;  /* Centra el video horizontalmente */
}

.scroll-hint {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    color: #444; /* Color del texto */
}

.arrows {
    font-size: 15rem; /* Tamaño de las flechas */
    animation: bounce 1.5s infinite; /* Animación de rebote */
}

/* Animación de rebote para las flechas */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}


.items {
    margin: 20px 0;
}

.item-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: contain;
    margin-right: 20px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    gap: 15px;
    height: 250px;
    overflow: hidden;
}

label {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    font-size: 18px;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

label div {
    margin: 5px 0; 
}

.price {
    font-size: 16px;
    color: #666;
    font-weight: 400;
    margin-top: 5px;
}

.total-section {
    margin: 20px 0;
}

.message-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

input, textarea {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    max-width: 400px;
}


button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #28a745;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #218838;
}

/* Estilos para pantallas más pequeñas (como teléfonos móviles) */
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;  /* Reducimos el tamaño de la fuente */
    }

    h1 {
        font-size: 20px;  /* Tamaño más pequeño para los títulos */
    }

    .total-section h2 {
        font-size: 18px;  /* Ajusta el tamaño de las secciones */
    }

    .scroll-hint p {
        font-size: 16px;  /* Tamaño de texto más pequeño para el mensaje */
    }

    .arrows {
        font-size: 1.5rem;  /* Tamaño de las flechas un poco más pequeño */
    }
    
    .message-section input, .message-section textarea {
        width: 100%; /* Asegura que los inputs ocupen todo el ancho en pantallas pequeñas */
    }
}
